<section
	*ngIf="rule"
	class="rule"
	[class.rule--has-fix]="rule.hasFix"
	[class.rule--typescript-only]="rule.typescriptOnly"
>
	<header>
		<h2 class="rule__name">{{ rule.ruleName }}</h2>
		<div class="rule__type">{{ rule.type }}</div>
		<div class="rule__provider">{{ rule.provider }}</div>
	</header>

	<p><strong>Description:</strong> {{ rule.description }}</p>

	<p><strong>Rationale:</strong> {{ rule.rationale }}</p>

	<p>{{ rule.optionsDescription }}</p>
	<p>{{ rule.options }}</p>
	<p>{{ rule.optionExamples }}</p>

	<footer><button (click)="goBack()">Go back</button></footer>
</section>
